/****
* css modifications for small screens (width less than or equal to 980px)
****/
#nav ul{margin:8px;}
#footer{padding-left:10px;}
#nav{padding-bottom:5px;}
#nav ul li.lastLi a{opacity:.6; padding-top:3px !important;}